*.pyc
__pycache__/
*.swp
/local_settings.ini
/reports/
*.mo
/docker/mnt/
/Dockerfile.local
/docs/generated
/docs/site
/docker-compose.override.yml
gill.dev.env
.DS_Store
.postgres_data/
media/
*.bkp
coverage.xml
unit.xml
.coverage
junit.xml
.idea
db.sqlite3
.pytest_cache